html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace, sans-serif;
  font-weight: 400;
  color: #262626;
  background-color: rgb(200, 200, 200);
}

strong {
  font-weight: 500;
}

.btn {
  font-family: "Roboto", sans-serif;
  padding: 0 10px;
}

.root {
  max-width: 945px;
  margin: 10vh auto;
  padding: 1rem 2rem;
  background-color: wheat;
}

.box--superior {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-content: stretch;
}

.forca-img {
  height: 40vh;
}

.forca-opcoes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 20px;
}

.forca-btn-iniciar {
  background-color: green;
  color: rgb(250, 250, 250);
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 0.0575rem;
  font-weight: 700;
  border-radius: 5px;
}

.forca-resultado {
  height: 30px;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.resultado-letra {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.resultado--errado {
  color: rgb(128, 16, 16);
}

.resultado--certo {
  color: rgb(16, 128, 16);
}

.box--inferior {
  max-width: 610px;
  margin: 0 auto;
}

.box-alfabeto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1.25rem;
}

.alfabeto-letra {
  width: 2rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: rgb(57, 174, 168);
  border-radius: 3px;
  padding: 1px 4px;
  line-height: 1.5;
}

.box-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

@media screen and (max-width: 945px) {
  html {
    font-size: 14px;
  }

  .root {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  html {
    font-size: 12px;
  }

  .box--superior {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .forca-opcoes {
    align-items: center;
    gap: 2.5rem;
  }

  .box-input {
    flex-direction: column;
  }
}
